/*** Background style sections **/

.header-dark-green {
    background-color: #2F3E46;
}

.body-light-green {
    background-color: #64906E;
}

.background-footer {
    background-color: #2F3E46;
}

/*** Text style section **/

.body-text {
    color: #F5F5F5;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

footer p {
    color: #f5f5f5;
    font-family: 'Noto Sanss', sans-serif;
    font-size: 14px;
}

.heading-text {
    color: #f5f5f5;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    min-width: 100%;
    padding-left: 25px;
}

/*** Header style sections **/

.header-box {
    min-height: 10vh;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

/*** Body style sections **/

.body-light-green{
    min-height: 80vh;
    min-width: 100%;
    position: absolute;
    top: 10vh;
}

#hero {
    max-height: 300px;
    min-width: 100%;
    position: relative;
}


/*** Foooter style section **/

.footer-bottom {
    min-height: 10vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
}

/** Container override **/

.container-override {
    min-width: 100%;
}

.padding-margin-override {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.container {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}